.gallery__element {
  background-color: white;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 80px;
}
@media screen and (max-width: 635px) {
  .gallery__element {
    width: min(100%, 282px);
  }
}
