.header {
  width: min(100%, 880px);
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  padding-top: 45px;
  box-sizing: border-box;
}

@media screen and (max-width: 635px) {
  .header {
    padding: 28px 0 0 27px;
  }
}g

@media screen and (max-width: 320px) {
  .header {
    width: min(100%, 320px);
  }
}
