.profile__add-button {
  width: min(100%, 150px);
  height: 50px;
  border: 2px solid white;
  grid-column: 5;
  background-color: black;
  padding-left: 10px;
}

@media screen and (max-width: 635px) {
  .profile__add-button {
    grid-row: 5;
    grid-column: 1;
    width: 100%;
  }
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: .8;
}
