.profile__add-button {
  width: min(100%, 150px);
  border: 2px solid white;
  grid-column: 5;
  background-color: black;
  padding: 10px;
  margin-bottom: 7px;
}

@media screen and (max-width: 635px) {
  .profile__add-button {
    grid-row: 5;
    grid-column: 1;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .profile__add-button {
    padding: 13px;
  }
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: .6;
}
