.profile-form__close {
  width: 42px;
  height: 38px;
  border: none;
  grid-row: 2;
  grid-column: 4;
  background-color: transparent;
}

@media screen and (max-width: 635px) {
  .profile-form__close {
    grid-column: 2;
    width: 20px;
    height: 20px;
    justify-self: end;
    padding: 0;
  }
}

.profile-form__close:hover {
  cursor: pointer;
  opacity: .6;
}
