.profile-form__overlay {
  width: 430px;
  height: 330px;
  justify-self: center;
  background-color: white;
  grid-column: 3;
  grid-row: 3;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, .15);
}

@media screen and (max-width: 635px) {
  .profile-form__overlay {
    width: 282px;
    height: 322px;
    grid-column: 2;
    grid-row: 4;
  }
}
