/* --------------------------- normalize --------------------------- */
@import url(../vendor/normalize.css);
/* --------------------------- fonts --------------------------- */
@import url(../vendor/fonts.css);
/*!* --------------------------- body --------------------------- *!*/
@import url(../blocks/body/body.css);
/* --------------------------- page --------------------------- */
@import url(../blocks/page/page.css);
/* --------------------------- header --------------------------- */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo-link/header__logo-link.css);
@import url(../blocks/header/__logo/header__logo.css);
/* --------------------------- profile --------------------------- */
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__info-name/profile__info-name.css);
@import url(../blocks/profile/__info-description/profile__info-description.css);
@import url(../blocks/profile/__info-button-edit/profile__info-button-edit.css);

/* --------------------------- gallery --------------------------- */
@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery/__element/gallery__element.css);
@import url(../blocks/gallery/__picture/gallery__picture.css);
@import url(../blocks/gallery/__info/gallery__info.css);
@import url(../blocks/gallery/__title/gallery__title.css);
@import url(../blocks/gallery/__like/gallery__like.css);
/* --------------------------- gallery --------------------------- */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
/* --------------------------- popup --------------------------- */
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_show/popup_show.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__overlay/popup__overlay.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__person-info/popup__person-info.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__save-button/popup__save-button.css);
