.profile-info {
  width: min(100%, 336px);
  grid-column: 3;
  display: grid;
  grid-template-columns: 294px 1fr;
  grid-template-rows: 39px 1fr;
  grid-gap: 16px 10px;
  justify-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 635px) {
  .profile-info {
    grid-row: 3;
    grid-column: 1;
    /*width: min(100%, 282px);*/
    grid-template-columns: 189px 10px 18px;
    grid-gap: 14px 0;
    justify-content: center;
  }
}
